@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="container text-center">
    <h1>Thank you for shopping with Home Haven</h1>
    <h2>Your order is on the way!</h2>
  
    <img src="/images//successful.jpg" alt="Green tick" style="width: 100px; height: 100px;">

    <div class="mt-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary customBtn">Continue Shopping</a>.</p>
    </div>
</div>
