@model User

@{
    ViewData["Title"] = "Signup";
}

<h2 class="text-center">Signup</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Index" method="post" id="signupForm">
            <div class="form-group mb-3">
                <label for="Name" class="mb-2">Name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger errorMsg"></span>
            </div>

            <div class="form-group mb-3">
                <label for="Email" class="mb-2">Email:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger errorMsg"></span>
            </div>

            <div class="form-group mb-3">
                <label for="Password" class="mb-2">Password:</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger errorMsg"></span>
            </div>

            <div class="form-group mb-3">
                <label for="Address" class="mb-2">Address:</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger errorMsg"></span>
            </div>

            <div class="form-group mb-3">
                <label for="PhoneNumber" class="mb-2">Phone Number:</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger errorMsg"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary customBtn">Signup</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <p>Already have an account? <a asp-controller="Login" asp-action="Index">Click here to Login</a>.</p>
        </div>
    </div>
</div>
